<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web Store Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web Store Application</a>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="">Locations</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (ViewData["Role"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login/Register</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link text-dark" asp-controller="User" asp-action="Index">Profile</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="User" asp-action="LogOut">Log Out</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div class="overflow-hidden below-fixed-header mb-3 pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col align-self-start">@ViewData["Title"]</div>
                    @if(ViewData["Role"] as string != null)
                    {
                        <div class="col align-self-end text-right">@ViewData["Role"]</div>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebStoreApp.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
